<h2>About dartBuddy</h2>

<p>
  dartBuddy is a darts scorer's aid.
</p>

<h4>credits</h4>
<ul>
  <li>font: <a href='http://www.google.com/fonts#UsePlace:use/Collection:Julee'>julee</a></li>
  <li>icons: <a href='http://fortawesome.github.io/Font-Awesome/'>Font Awesome</a></li>
  <li>dartboard inspiration: <a href='http://djave.co.uk/free-svg-dartboard/'>djave</a></li>
</ul>
