<h3>this is the home page</h3>

{{link-to 'About' 'about'}}

<img src="images/google-play-badge.png" alt="goto play store" tooltip="Google Play and the Google Play logo are trademarks of Google Inc.">
